@{
}
@model Lines
<h3>Modify line</h3>

<form method="post" enctype="multipart/form-data" asp-action="Modifyline" asp-controller="Home">

    <input type="hidden" name="id" value="@Model.Id"/>

    <label for="start">Start: </label>
    <input type="text" name="start" value="@Model.Start"/>
    <span style="color:red; font-size:14px;">@ViewData["lineStartError"]</span><br />

    <label for="arrival">Arrival: </label>
    <input type="text" name="Arrival" value="@Model.Arrival"/>
    <span style="color:red; font-size:14px;">@ViewData["lineArrivalError"]</span><br />

    <label for="distance">Distance: </label>
    <input type="number" min="1" step="0.1" name="distance" value="@Model.Distance"/>
    <span style="color:red; font-size:14px;">@ViewData["lineDistanceError"]</span><br />

    <label for="capacity">Capacity: </label>
    <input type="number" min="1" name="capacity" value="@Model.Capacity"/>
    <span style="color:red; font-size:14px;">@ViewData["lineCapacityError"]</span><br />

    <button type="submit">Add line</button> <a href="~">Abort</a>  <br />
    <span>@ViewData["formValide"]</span>
</form>

